In [1]:
import pandas as pd
import pickle
import numpy as np

In [2]:
data = pd.read_csv("NegociationsTraffic.csv")
columnsdrop=['Bytes','Packets']
data

FileNotFoundError: [Errno 2] No such file or directory: 'NegociationsTraffic.csv'

In [ ]:
if 'Unnamed: 0' in data.columns:
  data.drop(['Unnamed: 0'],axis=1,inplace=True)
data=data.drop(columns=columnsdrop,axis=1)
data=data.drop("Action",axis=1)

In [ ]:
df=data.drop('"Source Port"',axis=1)

In [ ]:
df

,"""Destination Port""","""NAT Source Port""","""NAT Destination Port""","""Bytes Sent""","""Bytes Received""","""Elapsed Time (sec)""",pkts_sent,pkts_received
0,445,0,0,70,0,0,1,0
1,445,0,0,70,0,0,1,0
2,23,0,0,60,0,0,1,0
3,57470,0,0,62,0,0,1,0
4,445,0,0,70,0,0,1,0
...,...,...,...,...,...,...,...,...
27887,26467,0,0,66,0,0,1,0
27888,36237,0,0,62,0,0,1,0
27889,445,0,0,70,0,0,1,0
27890,445,0,0,70,0,0,1,0
27891,445,0,0,70,0,0,1,0

In [ ]:
with open('dstportdict.pkl', 'rb') as f:
    dstportdict = pickle.load(f)
with open('natsrcportdict.pkl', 'rb') as f:
    natsrcportdict = pickle.load(f)
with open('natdstportdict.pkl', 'rb') as f:
    natdstportdict = pickle.load(f)

# Appliquer la transformation en utilisant le dictionnaire chargé
df['"Destination Port"']=df['"Destination Port"'].map(dstportdict)
df['"NAT Source Port"']=df['"NAT Source Port"'].map(natsrcportdict)
df['"NAT Destination Port"']=df['"NAT Destination Port"'].map(natdstportdict)

In [ ]:
with open('countfrequencyencoderGAN.pkl', 'rb') as f:
    countfreqGAN = pickle.load(f)

In [ ]:
df = countfreqGAN.transform(df)

c:\Users\Lenovo\AppData\Local\Programs\Python\Python311\Lib\site-packages\feature_engine\encoding\base_encoder.py:255: UserWarning: During the encoding, NaN values were introduced in the feature(s) "Destination Port".
  warnings.warn(

In [ ]:
df

,"""Destination Port""","""NAT Source Port""","""NAT Destination Port""","""Bytes Sent""","""Bytes Received""","""Elapsed Time (sec)""",pkts_sent,pkts_received
0,NaN,0.014996,0.014996,70,0,0,1,0
1,NaN,0.014996,0.014996,70,0,0,1,0
2,0.173279,0.014996,0.014996,60,0,0,1,0
3,0.173279,0.014996,0.014996,62,0,0,1,0
4,NaN,0.014996,0.014996,70,0,0,1,0
...,...,...,...,...,...,...,...,...
27887,0.173279,0.014996,0.014996,66,0,0,1,0
27888,0.173279,0.014996,0.014996,62,0,0,1,0
27889,NaN,0.014996,0.014996,70,0,0,1,0
27890,NaN,0.014996,0.014996,70,0,0,1,0
27891,NaN,0.014996,0.014996,70,0,0,1,0

In [ ]:
with open('standardscalerGAN.pkl','rb') as f:
    scaler=pickle.load(f)

In [ ]:
num=['"Bytes Sent"','"Bytes Received"','"Elapsed Time (sec)"',
                   "pkts_sent","pkts_received"]
df[num]=scaler.transform(df[num])

In [ ]:
dfsansNan = df[~df.isin([np.nan, np.inf, -np.inf]).any(axis=1)]

In [ ]:
data[df.isin([np.nan, np.inf, -np.inf]).any(axis=1)]

,"""Source Port""","""Destination Port""","""NAT Source Port""","""NAT Destination Port""","""Bytes Sent""","""Bytes Received""","""Elapsed Time (sec)""",pkts_sent,pkts_received
0,51048,445,0,0,70,0,0,1,0
1,51045,445,0,0,70,0,0,1,0
4,55725,445,0,0,70,0,0,1,0
5,55723,445,0,0,70,0,0,1,0
6,55724,445,0,0,70,0,0,1,0
...,...,...,...,...,...,...,...,...,...
27883,49784,445,0,0,70,0,0,1,0
27884,49783,445,0,0,70,0,0,1,0
27889,54871,445,0,0,70,0,0,1,0
27890,54870,445,0,0,70,0,0,1,0
27891,54867,445,0,0,70,0,0,1,0

In [ ]:
dfsansNan

,"""Destination Port""","""NAT Source Port""","""NAT Destination Port""","""Bytes Sent""","""Bytes Received""","""Elapsed Time (sec)""",pkts_sent,pkts_received
2,0.173279,0.014996,0.014996,-0.008007,-0.039475,-0.291609,-0.01649,-0.035724
3,0.173279,0.014996,0.014996,-0.008007,-0.039475,-0.291609,-0.01649,-0.035724
15,0.173279,0.014996,0.014996,-0.007991,-0.039475,-0.291609,-0.01649,-0.035724
17,0.173279,0.014996,0.014996,-0.007989,-0.039475,-0.291609,-0.01649,-0.035724
18,0.173279,0.014996,0.014996,-0.007991,-0.039475,-0.291609,-0.01649,-0.035724
...,...,...,...,...,...,...,...,...
27882,0.173279,0.014996,0.014996,-0.008006,-0.039475,-0.291609,-0.01649,-0.035724
27885,0.173279,0.014996,0.014996,-0.008007,-0.039475,-0.291609,-0.01649,-0.035724
27886,0.173279,0.014996,0.014996,-0.008006,-0.039475,-0.291609,-0.01649,-0.035724
27887,0.173279,0.014996,0.014996,-0.008006,-0.039475,-0.291609,-0.01649,-0.035724
27888,0.173279,0.014996,0.014996,-0.008007,-0.039475,-0.291609,-0.01649,-0.035724

In [ ]:
import tensorflow as tf
allow_model = tf.keras.models.load_model("allow_detection.h5")
# Première étape: identification des données "allow"
allow_probs = allow_model.predict(dfsansNan)
rmse = np.sqrt(np.sum((dfsansNan - allow_probs)**2, axis=1) / dfsansNan.shape[1])

# Créer un masque pour les observations dont la "RMSE" est inférieure au seuil
allow_mask = rmse > 0.08502309105681057

469/469 [==============================] - 1s 2ms/step

In [ ]:
compteur_false = allow_mask.value_counts()[False]
compteur_false

24

In [ ]:
with open('DTC.pkl', 'rb') as f:
    Decision_tree_classifier = pickle.load(f)

In [ ]:
index_true = allow_mask[allow_mask].index

In [ ]:
non_allow_datasansNAN = data.loc[index_true].copy()

In [ ]:
non_allow_data=pd.concat([non_allow_datasansNAN,data[df.isin([np.nan, np.inf, -np.inf]).any(axis=1)]])

In [ ]:
non_allow_data

,"""Source Port""","""Destination Port""","""NAT Source Port""","""NAT Destination Port""","""Bytes Sent""","""Bytes Received""","""Elapsed Time (sec)""",pkts_sent,pkts_received
2,13394,23,0,0,60,0,0,1,0
3,61078,57470,0,0,62,0,0,1,0
15,62776,62413,0,0,146,0,0,1,0
17,46448,30170,0,0,159,0,0,1,0
18,10688,25174,0,0,146,0,0,1,0
...,...,...,...,...,...,...,...,...,...
27883,49784,445,0,0,70,0,0,1,0
27884,49783,445,0,0,70,0,0,1,0
27889,54871,445,0,0,70,0,0,1,0
27890,54870,445,0,0,70,0,0,1,0
27891,54867,445,0,0,70,0,0,1,0

In [ ]:
with open('dstportdictclass.pkl', 'rb') as f:
    dstportdictclass = pickle.load(f)
with open('natsrcportdictclass.pkl', 'rb') as f:
    natsrcportdictclass = pickle.load(f)
with open('natdstportdictClass.pkl', 'rb') as f:
    natdstportdictclass = pickle.load(f)

# Appliquer la transformation en utilisant le dictionnaire chargé
non_allow_data['"Destination Port"']=non_allow_data['"Destination Port"'].map(dstportdictclass)
non_allow_data['"NAT Source Port"']=non_allow_data['"NAT Source Port"'].map(natsrcportdictclass)
non_allow_data['"NAT Destination Port"']=non_allow_data['"NAT Destination Port"'].map(natdstportdictclass)

In [ ]:
import joblib
encoder_loaded = joblib.load('countfrequencyencoder.pkl')

In [ ]:
non_allow_data = encoder_loaded.transform(non_allow_data)

c:\Users\Lenovo\AppData\Local\Programs\Python\Python311\Lib\site-packages\feature_engine\encoding\base_encoder.py:255: UserWarning: During the encoding, NaN values were introduced in the feature(s) "Source Port".
  warnings.warn(

In [ ]:
with open('standardscalerclass.pkl','rb') as f:
    scalerclass=pickle.load(f)

In [ ]:
num=['"Bytes Sent"','"Bytes Received"','"Elapsed Time (sec)"',
                   "pkts_sent","pkts_received"]
non_allow_data[num]=scaler.transform(non_allow_data[num])

In [ ]:

predictions = Decision_tree_classifier.predict(non_allow_data)

# # # Combiner les résultats
# # results = pd.DataFrame({
# #     "allow": allow_mask,
# #     "prediction": predictions
# # })

# # # Afficher les résultats
# # print(results.to_string())

In [ ]:
classes_counts = np.bincount(predictions)

# Affichez le nombre de chaque classe
for classe, count in enumerate(classes_counts):
    print(f"Classe {classe}: {count} occurrences")

Classe 0: 20 occurrences
Classe 1: 12891 occurrences
Classe 2: 14957 occurrences